<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Chroma Admin Dashboard</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="../../vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../../vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
  <link rel="stylesheet" href="../../vendors/iconfonts/simple-line-icon/css/simple-line-icons.css">
  <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="../../vendors/css/vendor.bundle.addons.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="../../vendors/iconfonts/flag-icon-css/css/flag-icon.min.css" />
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../../css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../../images/favicon.png" />
</head>

<body class="horizontal-menu-2">
  <div class="container-scroller">
    <!-- Horizontal Menu Start -->
    <nav class="navbar horizontal-layout-2 col-lg-12 col-12 p-0 d-flex flex-row align-items-start">
      <div class="container">
        <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
          <a class="navbar-brand brand-logo" href="../../index.html">
            <img src="../../images/logo.svg" alt="logo" />
          </a>
          <a class="navbar-brand brand-logo-mini" href="../../index.html">
            <img src="../../images/logo-mini.svg" alt="logo" />
          </a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center pr-0">
          <ul class="navbar-nav header-links">
            <li class="nav-item">
              <a href="horizontal-menu-2.html#" class="nav-link">Schedule
                <span class="badge badge-success ml-1">New</span>
              </a>
            </li>
            <li class="nav-item active">
              <a href="horizontal-menu-2.html#" class="nav-link">
                <i class="mdi mdi-elevation-rise"></i>Reports</a>
            </li>
            <li class="nav-item">
              <a href="horizontal-menu-2.html#" class="nav-link">
                <i class="mdi mdi-bookmark-plus-outline"></i>Score</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto dropdown-menus">
            <li class="nav-item dropdown">
              <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="horizontal-menu-2.html#" data-toggle="dropdown" aria-expanded="false">
                <i class="mdi mdi-message-text-outline"></i>
                <span class="count bg-warning">2</span>
              </a>
              <div class="dropdown-menu dropdown-menu-left navbar-dropdown preview-list" aria-labelledby="messageDropdown">
                <div class="dropdown-item py-3">
                  <p class="mb-0 font-weight-medium float-left">You have 7 unread mails
                  </p>
                  <span class="badge badge-inverse-info badge-pill float-right">View all</span>
                </div>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="../../images/faces/face4.jpg" alt="image" class="profile-pic">
                  </div>
                  <div class="preview-item-content flex-grow">
                    <h6 class="preview-subject ellipsis font-weight-normal text-dark mb-1">David Grey
                      <span class="float-right font-weight-light small-text text-gray">1 Minutes ago</span>
                    </h6>
                    <p class="font-weight-light small-text mb-0">
                      The meeting is cancelled
                    </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="../../images/faces/face2.jpg" alt="image" class="profile-pic">
                  </div>
                  <div class="preview-item-content flex-grow">
                    <h6 class="preview-subject ellipsis font-weight-normal text-dark mb-1">Tim Cook
                      <span class="float-right font-weight-light small-text text-gray">15 Minutes ago</span>
                    </h6>
                    <p class="font-weight-light small-text mb-0">
                      New product launch
                    </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="../../images/faces/face3.jpg" alt="image" class="profile-pic">
                  </div>
                  <div class="preview-item-content flex-grow">
                    <h6 class="preview-subject ellipsis font-weight-normal text-dark mb-1"> Johnson
                      <span class="float-right font-weight-light small-text text-gray">18 Minutes ago</span>
                    </h6>
                    <p class="font-weight-light small-text mb-0">
                      Upcoming board meeting
                    </p>
                  </div>
                </a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="horizontal-menu-2.html#" data-toggle="dropdown">
                <i class="mdi mdi-bell-outline"></i>
                <span class="count bg-success">4</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                <a class="dropdown-item py-3">
                  <p class="mb-0 font-weight-medium float-left">You have 4 new notifications
                  </p>
                  <span class="badge badge-pill badge-inverse-info float-right">View all</span>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-inverse-success">
                      <i class="mdi mdi-alert-circle-outline mx-0"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <h6 class="preview-subject font-weight-normal text-dark mb-1">Application Error</h6>
                    <p class="font-weight-light small-text mb-0">
                      Just now
                    </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-inverse-warning">
                      <i class="mdi mdi-comment-text-outline mx-0"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <h6 class="preview-subject font-weight-normal text-dark mb-1">Settings</h6>
                    <p class="font-weight-light small-text mb-0">
                      Private message
                    </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-inverse-info">
                      <i class="mdi mdi-email-outline mx-0"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <h6 class="preview-subject font-weight-normal text-dark mb-1">New user registration</h6>
                    <p class="font-weight-light small-text mb-0">
                      2 days ago
                    </p>
                  </div>
                </a>
              </div>
            </li>
            <li class="nav-item mr-0">
              <a href="horizontal-menu-2.html#" class="nav-link py-0 pr-0">
                <span class="text-black d-none d-lg-inline-block text-white mr-2">Hello, Sebastian !</span>
                <img class="img-xs rounded-circle" src="../../images/faces/face1.jpg" alt="profile image">
              </a>
            </li>
          </ul>
          <button type="button" class="navbar-toggler d-block d-md-none">
            <i class="mdi mdi-menu"></i>
          </button>
        </div>
      </div>
      <div class="container">
        <div class="nav-bottom">
          <ul class="navbar-nav">
            <li class="nav-item dropdown active">
              <a class="nav-link count-indicator dropdown-toggle" id="dashboard-dropdown" href="horizontal-menu-2.html#" data-toggle="dropdown">
                Dashboard
              </a>
              <div class="dropdown-menu dropdown-left navbar-dropdown" aria-labelledby="dashboard-dropdown">
                <ul>
                  <li class="dropdown-item">
                    <a href="horizontal-menu-2.html#" class="dropdown-link">Menu Link 1</a>
                  </li>
                  <li class="dropdown-item">
                    <a href="horizontal-menu-2.html#" class="dropdown-link">Menu Link 2</a>
                  </li>
                  <li class="dropdown-item">
                    <a href="horizontal-menu-2.html#" class="dropdown-link">Menu Link 3</a>
                  </li>
                  <li class="dropdown-item">
                    <a href="horizontal-menu-2.html#" class="dropdown-link">Menu Link 4</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link count-indicator dropdown-toggle" id="finance-dropdown" href="horizontal-menu-2.html#" data-toggle="dropdown">
                Finance Report
              </a>
              <div class="dropdown-menu dropdown-left navbar-dropdown" aria-labelledby="finance-dropdown">
                <ul>
                  <li class="dropdown-item">
                    <a href="horizontal-menu-2.html#" class="dropdown-link">Menu Link 1</a>
                  </li>
                  <li class="dropdown-item">
                    <a href="horizontal-menu-2.html#" class="dropdown-link">Menu Link 2</a>
                  </li>
                  <li class="dropdown-item">
                    <a href="horizontal-menu-2.html#" class="dropdown-link">Menu Link 3</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link count-indicator dropdown-toggle" id="project-dropdown" href="horizontal-menu-2.html#" data-toggle="dropdown">
                Project Report
              </a>
              <div class="dropdown-menu dropdown-left navbar-dropdown" aria-labelledby="project-dropdown">
                <ul>
                  <li class="dropdown-item">
                    <a href="horizontal-menu-2.html#" class="dropdown-link">Menu Link 1</a>
                  </li>
                  <li class="dropdown-item">
                    <a href="horizontal-menu-2.html#" class="dropdown-link">Menu Link 2</a>
                  </li>
                  <li class="dropdown-item">
                    <a href="horizontal-menu-2.html#" class="dropdown-link">Menu Link 3</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link count-indicator dropdown-toggle" id="hr-dropdown" href="horizontal-menu-2.html#" data-toggle="dropdown">
                HR Report
              </a>
              <div class="dropdown-menu dropdown-left navbar-dropdown" aria-labelledby="hr-dropdown">
                <ul>
                  <li class="dropdown-item">
                    <a href="horizontal-menu-2.html#" class="dropdown-link">Menu Link 1</a>
                  </li>
                  <li class="dropdown-item">
                    <a href="horizontal-menu-2.html#" class="dropdown-link">Menu Link 2</a>
                  </li>
                  <li class="dropdown-item">
                    <a href="horizontal-menu-2.html#" class="dropdown-link">Menu Link 3</a>
                  </li>
                  <li class="dropdown-item">
                    <a href="horizontal-menu-2.html#" class="dropdown-link">Menu Link 4</a>
                  </li>
                  <li class="dropdown-item">
                    <a href="horizontal-menu-2.html#" class="dropdown-link">Menu Link 5</a>
                  </li>
                  <li class="dropdown-item">
                    <a href="horizontal-menu-2.html#" class="dropdown-link">Menu Link 6</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link count-indicator dropdown-toggle" id="revenue-dropdown" href="horizontal-menu-2.html#" data-toggle="dropdown">
                Revenue Report
              </a>
              <div class="dropdown-menu dropdown-left navbar-dropdown" aria-labelledby="revenue-dropdown">
                <ul>
                  <li class="dropdown-item">
                    <a href="horizontal-menu-2.html#" class="dropdown-link">Menu Link 1</a>
                  </li>
                  <li class="dropdown-item">
                    <a href="horizontal-menu-2.html#" class="dropdown-link">Menu Link 2</a>
                  </li>
                  <li class="dropdown-item">
                    <a href="horizontal-menu-2.html#" class="dropdown-link">Menu Link 3</a>
                  </li>
                  <li class="dropdown-item">
                    <a href="horizontal-menu-2.html#" class="dropdown-link">Menu Link 4</a>
                  </li>
                  <li class="dropdown-item">
                    <a href="horizontal-menu-2.html#" class="dropdown-link">Menu Link 5</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto d-none d-lg-block">
            <li class="nav-item mr-4">
              <form action="horizontal-menu-2.html#">
                <div class="form-group mb-0">
                  <div class="input-group search-field">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="mdi mdi-magnify"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Search">
                  </div>
                </div>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Horizontal Menu Ends -->
    <div class="container-fluid page-body-wrapper">
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="container">
            <div class="row mb-4">
              <div class="col-12 d-flex align-items-center justify-content-between">
                <h4 class="page-title">Dashboard</h4>
                <div class="d-flex align-items-center">
                  <div class="wrapper mr-4 d-none d-sm-block">
                    <p class="mb-0">Summary for
                      <b class="mb-0">September 2017</b>
                    </p>
                  </div>
                  <div class="wrapper">
                    <a href="horizontal-menu-2.html#" class="btn btn-link btn-sm font-weight-bold">
                      <i class="icon-share-alt"></i>Export CSV</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 card-statistics">
                <div class="row">
                  <div class="col-12 col-sm-6 col-md-3 grid-margin stretch-card card-tile">
                    <div class="card">
                      <div class="card-body">
                        <div class="d-flex justify-content-between pb-2">
                          <h5>Todays Income</h5>
                          <i class="icon-docs"></i>
                        </div>
                        <div class="d-flex justify-content-between">
                          <p class="text-muted">Avg. Session</p>
                          <p class="text-muted">max: 40</p>
                        </div>
                        <div class="progress progress-md">
                          <div class="progress-bar bg-info w-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-3 grid-margin stretch-card card-tile">
                    <div class="card">
                      <div class="card-body">
                        <div class="d-flex justify-content-between pb-2">
                          <h5>Total Revenue</h5>
                          <i class="icon-pie-chart"></i>
                        </div>
                        <div class="d-flex justify-content-between">
                          <p class="text-muted">Avg. Session</p>
                          <p class="text-muted">max: 120</p>
                        </div>
                        <div class="progress progress-md">
                          <div class="progress-bar bg-success w-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-3 grid-margin stretch-card card-tile">
                    <div class="card">
                      <div class="card-body">
                        <div class="d-flex justify-content-between pb-2">
                          <h5>Pending Product</h5>
                          <i class="icon-wallet"></i>
                        </div>
                        <div class="d-flex justify-content-between">
                          <p class="text-muted">Avg. Session</p>
                          <p class="text-muted">max: 54</p>
                        </div>
                        <div class="progress progress-md">
                          <div class="progress-bar bg-danger w-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-3 grid-margin stretch-card card-tile">
                    <div class="card">
                      <div class="card-body">
                        <div class="d-flex justify-content-between pb-2">
                          <h5>Sales</h5>
                          <i class="icon-screen-desktop"></i>
                        </div>
                        <div class="d-flex justify-content-between">
                          <p class="text-muted">Avg. Session</p>
                          <p class="text-muted">max: 143</p>
                        </div>
                        <div class="progress progress-md">
                          <div class="progress-bar bg-warning w-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h6 class="card-title">Total Revenue</h6>
                    <div class="w-75 mx-auto mt-4">
                      <div class="d-flex justify-content-between text-center mb-2">
                        <div class="wrapper">
                          <h4>6,256</h4>
                          <small class="text-muted">Total sales</small>
                        </div>
                        <div class="wrapper">
                          <h4>8569</h4>
                          <small class="text-muted">Open Campaign</small>
                        </div>
                      </div>
                    </div>
                    <div id="morris-line-example"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-7 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between pb-4">
                      <h4 class="card-title mb-0">Email Campaign</h4>
                      <p class="mb-0">Last 6 day
                        <i class="mdi mdi-chevron-down"></i>
                      </p>
                    </div>
                    <div class="row">
                      <div class="col-sm-6 grid-margin stretch-card">
                        <div class="card">
                          <div class="card-body">
                            <div class="d-flex">
                              <div class="inner flex-grow">
                                <p class="mb-0">New orders</p>
                                <h4 class="font-weight-bold">16543</h4>
                              </div>
                              <div class="inner d-flex align-items-center">
                                <h1 class="text-primary font-weight-bold">13%</h1>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6 grid-margin stretch-card">
                        <div class="card">
                          <div class="card-body">
                            <div class="d-flex">
                              <div class="inner flex-grow">
                                <p class="mb-0">New Users</p>
                                <h4 class="font-weight-bold">26458</h4>
                              </div>
                              <div class="inner d-flex align-items-center">
                                <h1 class="text-info font-weight-bold">64%</h1>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6 grid-margin-sm-down stretch-card">
                        <div class="card">
                          <div class="card-body">
                            <div class="d-flex">
                              <div class="inner flex-grow">
                                <p class="mb-0">Bounced</p>
                                <h4 class="font-weight-bold">2398</h4>
                              </div>
                              <div class="inner d-flex align-items-center">
                                <h1 class="text-danger font-weight-bold">24%</h1>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6 grid-margin-sm-down stretch-card">
                        <div class="card">
                          <div class="card-body">
                            <div class="d-flex">
                              <div class="inner flex-grow">
                                <p class="mb-0">Unique Visitors</p>
                                <h4 class="font-weight-bold">12790</h4>
                              </div>
                              <div class="inner d-flex align-items-center">
                                <h1 class="text-success font-weight-bold">30%</h1>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <h4 class="card-title">Sales Status</h4>
                      <p class="text-muted d-none d-md-block">29-May-2018, 11.00 AM</p>
                    </div>
                    <div class="chart-container">
                      <canvas class="mt-4" id="sales-status" height="150"></canvas>
                      <div id="sales-status-legend" class="legend-con mt-4 mb-0"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-7 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Total Sales By Products</h4>
                    <div class="d-flex justify-content-between pb-4">
                      <p class="card-description mb-0 d-none d-sm-block">Activity from 4 Jan 2017 to 10 Jan 2017</p>
                      <div id="product-sales-legend"></div>
                    </div>
                    <canvas id="product-sales" height="150"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 grid-margin stretch-card">
                <div class="card dashboard-news-card">
                  <div class="card-body d-flex flex-column">
                    <div class="d-flex justify-content-between pb-4">
                      <h4 class="card-title text-white mb-0">News</h4>
                      <i class="icon-reload text-white"></i>
                    </div>
                    <div class="text-white mt-auto">
                      <div class="wrapper">
                        <h4 class="border-bottom">The Idea Of God Is Not Henceforth Relevant</h4>
                        <p>Vivamus suscipit tortor eget felis porttitor volutpat.</p>
                        <a class="text-small text-white font-weight-bold" href="horizontal-menu-2.html#">READ MORE</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <h4 class="card-title">Activity</h4>
                    </div>
                    <p class="card-description">What're people doing right now</p>
                    <div class="list d-flex align-items-center border-bottom py-3">
                      <img class="img-sm rounded-circle" src="../../images/faces/face4.jpg" alt="">
                      <div class="wrapper w-100 ml-3">
                        <p class="mb-0">
                          <b>Dobrick </b>posted in Material</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="d-flex align-items-center">
                            <p class="mb-0">That's awesome!</p>
                          </div>
                          <small class="text-muted ml-auto">2 hours ago</small>
                        </div>
                      </div>
                    </div>
                    <div class="list d-flex align-items-center border-bottom py-3">
                      <img class="img-sm rounded-circle" src="../../images/faces/face5.jpg" alt="">
                      <div class="wrapper w-100 ml-3">
                        <p class="mb-0">
                          <b>Stella </b>posted in Material</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="d-flex align-items-center">
                            <p class="mb-0">That's awesome!</p>
                          </div>
                          <small class="text-muted ml-auto">3 hours ago</small>
                        </div>
                      </div>
                    </div>
                    <div class="list d-flex align-items-center border-bottom py-3">
                      <img class="img-sm rounded-circle" src="../../images/faces/face7.jpg" alt="">
                      <div class="wrapper w-100 ml-3">
                        <p class="mb-0">
                          <b>Peter </b>posted in Material</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="d-flex align-items-center">
                            <p class="mb-0">That's Great!</p>
                          </div>
                          <small class="text-muted ml-auto">1 hours ago</small>
                        </div>
                      </div>
                    </div>
                    <div class="list d-flex align-items-center pt-3">
                      <img class="img-sm rounded-circle" src="../../images/faces/face6.jpg" alt="">
                      <div class="wrapper w-100 ml-3">
                        <p class="mb-0">
                          <b>Natalia </b>posted in Material</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="d-flex align-items-center">
                            <p class="mb-0">That's awesome!</p>
                          </div>
                          <small class="text-muted ml-auto">1 hours ago</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body d-flex flex-column">
                    <h4 class="card-title">Sales Chart</h4>
                    <p class="card-description">Based on last month analytics.</p>
                    <div class="mt-auto" id="dashboard-sales-chart"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="card support-pane-card">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                      <h4 class="card-title mb-0">Customer support</h4>
                      <div class="btn-toolbar mb-0 d-none d-sm-block" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group" role="group" aria-label="First group">
                          <button type="button" class="btn btn-success">
                            <i class="mdi mdi-plus-circle"></i> Add
                          </button>
                        </div>
                        <div class="btn-group" role="group" aria-label="Second group">
                          <button type="button" class="btn btn-outline-secondary">
                            <i class="mdi mdi-alert-circle-outline"></i>
                          </button>
                          <button type="button" class="btn btn-outline-secondary">
                            <i class="mdi mdi-delete-empty"></i>
                          </button>
                        </div>
                        <div class="btn-group" role="group" aria-label="Third group">
                          <button type="button" class="btn btn-outline-secondary">
                            <i class="mdi mdi-printer"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="table-responsive support-pane no-wrap">
                      <div class="t-row">
                        <div class="tumb">
                          <div class="img-sm rounded-circle bg-info d-flex align-items-center justify-content-center text-white">EC</div>
                        </div>
                        <div class="content">
                          <p class="font-weight-bold mb-2 d-inline-block">John Alexander</p>
                          <p class="text-muted mb-2 d-inline-block">30 Nov 2018</p>
                          <p>3 Smart Reasons Why You Should Consider Paying For Your Traffic</p>
                        </div>
                        <div class="tile">
                          <p class="text-muted mb-2">Project</p>
                          <p class="font-weight-bold">Dashboard</p>
                        </div>
                        <div class="tile">
                          <p class="text-muted mb-2">Project</p>
                          <p class="font-weight-bold">3 hours</p>
                        </div>
                      </div>
                      <div class="t-row">
                        <div class="tumb">
                          <div class="img-sm rounded-circle bg-danger d-flex align-items-center justify-content-center text-white">EC</div>
                        </div>
                        <div class="content">
                          <p class="font-weight-bold mb-2 d-inline-block">Landon Simpson</p>
                          <p class="text-muted mb-2 d-inline-block">07 Sep 2018</p>
                          <p>Low-Cost Advertising</p>
                        </div>
                        <div class="tile">
                          <p class="text-muted mb-2">Project</p>
                          <p class="font-weight-bold">Mobile app
                        </div>
                        <div class="tile">
                          <p class="text-muted mb-2">Project</p>
                          <p class="font-weight-bold">5 hours</p>
                        </div>
                      </div>
                      <div class="t-row">
                        <div class="tumb">
                          <div class="img-sm rounded-circle bg-success d-flex align-items-center justify-content-center text-white">EC</div>
                        </div>
                        <div class="content">
                          <p class="font-weight-bold mb-2 d-inline-block">David Burns</p>
                          <p class="text-muted mb-2 d-inline-block">06 Aug 2018</p>
                          <p>Pos Hardware More Options In Less Space</p>
                        </div>
                        <div class="tile">
                          <p class="text-muted mb-2">Project</p>
                          <p class="font-weight-bold">Website</p>
                        </div>
                        <div class="tile">
                          <p class="text-muted mb-2">Project</p>
                          <p class="font-weight-bold">2 hours</p>
                        </div>
                      </div>
                      <div class="t-row">
                        <div class="tumb">
                          <div class="img-sm rounded-circle bg-warning d-flex align-items-center justify-content-center text-white">EC</div>
                        </div>
                        <div class="content">
                          <p class="font-weight-bold mb-2 d-inline-block">Cordelia Mitchell</p>
                          <p class="text-muted mb-2 d-inline-block">06 Apr 2018</p>
                          <p>5 Reasons To Choose A Notebook Over A Computer Desktop</p>
                        </div>
                        <div class="tile">
                          <p class="text-muted mb-2">Project</p>
                          <p class="font-weight-bold">Dashboard</p>
                        </div>
                        <div class="tile">
                          <p class="text-muted mb-2">Project</p>
                          <p class="font-weight-bold">4 hours</p>
                        </div>
                      </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mt-4">
                      <p class="mb-0 d-none d-md-block">Showing 1 to 20 of 20 entries</p>
                      <nav>
                        <ul class="pagination rounded mb-0 pagination-success">
                          <li class="page-item">
                            <a class="page-link" href="horizontal-menu-2.html#">
                              <i class="mdi mdi-chevron-left"></i>
                            </a>
                          </li>
                          <li class="page-item active">
                            <a class="page-link" href="horizontal-menu-2.html#">1</a>
                          </li>
                          <li class="page-item">
                            <a class="page-link" href="horizontal-menu-2.html#">2</a>
                          </li>
                          <li class="page-item">
                            <a class="page-link" href="horizontal-menu-2.html#">3</a>
                          </li>
                          <li class="page-item">
                            <a class="page-link" href="horizontal-menu-2.html#">4</a>
                          </li>
                          <li class="page-item">
                            <a class="page-link" href="horizontal-menu-2.html#">
                              <i class="mdi mdi-chevron-right"></i>
                            </a>
                          </li>
                        </ul>
                      </nav>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          <div class="container-fluid clearfix">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018
              <a href="http://urbanui.com" target="_blank">UrbanUI</a>. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with
              <i class="mdi mdi-heart-outline text-danger"></i>
            </span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="../../vendors/js/vendor.bundle.base.js"></script>
  <script src="../../vendors/js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="../../js/off-canvas.js"></script>
  <script src="../../js/hoverable-collapse.js"></script>
  <script src="../../js/misc.js"></script>
  <script src="../../js/settings.js"></script>
  <script src="../../js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="../../js/dashboard.js"></script>
  <script src="../../js/horizontal-menu.js"></script>
  <!-- End custom js for this page-->
</body>

</html>